Repository friedemannsommer/searproxy, changes with the labels that .github/labeler.yml gives for each.
All labels: asset, rust, html, css, cargo, cargo-deny, license, markdown, git, github

updated CI workflow permissions added release job
  .github/workflows/ci.yml
Labels: github

updated CI workflow to use single quotes for event name comparison
  .github/workflows/ci.yml
Labels: github

replaced "openssl" with "rustls-tls"
  Cargo.toml
Labels: none

updated cargo deny config to allow "ring" license
  deny.toml
Labels: cargo-deny

fixed CI workflow (release files)
  .github/workflows/ci.yml
Labels: github

update CI workflow rust cache key for matrix build
  .github/workflows/ci.yml
Labels: github

fixed bash loop for release in CI workflow
  .github/workflows/ci.yml
Labels: github

CI workflow use minimal retention period for artifacts
  .github/workflows/ci.yml
Labels: github

disabled crates.io publish
  Cargo.toml
Labels: none

updated condition for "build-release" in CI workflow
  .github/workflows/ci.yml
Labels: github

added dependabot config
  .github/dependabot.yml
Labels: github

allow tags to trigger CI workflow
  .github/workflows/ci.yml
Labels: github

fix "sp_header" width in header.css
  src/assets/header.css
Labels: css

fix "sp_header" width in header.css
  src/assets/header.css
Labels: css

Added issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: markdown, github

added workflow for automatic third party license list generation
  .github/workflows/licensing.yml
  deny.toml
  licensing/about.hbs
  licensing/about.toml
Labels: cargo-deny, github

updated licensing workflow to create "public" directory if necessary
  .github/workflows/licensing.yml
Labels: github

fix licensing workflow to use the correct bash condition
  .github/workflows/licensing.yml
Labels: github

fix licensing workflow use correct file path for PR
  .github/workflows/licensing.yml
Labels: github

update third party license overview
  public/licenses.html
Labels: none

update third party license overview
  public/licenses.html
Labels: none

added GH pages workflow
  .github/workflows/gh-pages.yml
Labels: github

replaced "tera" template engine with "markup"
  Cargo.toml
  src/lib/mod.rs
  src/lib/rewrite_html.rs
  src/lib/shared.rs
  src/server/lib/error_response.rs
  src/server/lib/mod.rs
  src/server/routes/route_index.rs
  src/templates/base.html
  src/templates/base.rs
  src/templates/error.html
  src/templates/error.rs
  src/templates/footer.html
  src/templates/header.html
  src/templates/header.rs
  src/templates/index.html
  src/templates/index.rs
  src/templates/mod.rs
Labels: rust, html

removed unnecessary `String` -> `Bytes` conversion
  src/server/lib/error_response.rs
  src/server/routes/route_index.rs
  src/templates/mod.rs
Labels: rust

rephrase "potential malicious" into "potentially malicious"
  src/templates/index.rs
Labels: rust

removed description for source code link
  src/templates/base.rs
Labels: rust

updated formatting for "lib/mod.rs" and "server/lib/mod.rs"
  src/lib/mod.rs
  src/server/lib/mod.rs
Labels: rust

removed unnecessary `String` -> `Bytes` conversion
  src/server/lib/error_response.rs
  src/server/routes/route_index.rs
  src/templates/mod.rs
Labels: rust

removed description for source code link
  src/templates/base.rs
Labels: rust

replaced "tera" template engine with "markup"
  Cargo.toml
  src/lib/mod.rs
  src/lib/rewrite_html.rs
  src/lib/shared.rs
  src/server/lib/error_response.rs
  src/server/lib/mod.rs
  src/server/routes/route_index.rs
  src/templates/base.html
  src/templates/base.rs
  src/templates/error.html
  src/templates/error.rs
  src/templates/footer.html
  src/templates/header.html
  src/templates/header.rs
  src/templates/index.html
  src/templates/index.rs
  src/templates/mod.rs
Labels: rust, html

updated formatting for "lib/mod.rs" and "server/lib/mod.rs"
  src/lib/mod.rs
  src/server/lib/mod.rs
Labels: rust

rephrase "potential malicious" into "potentially malicious"
  src/templates/index.rs
Labels: rust

update third party license overview
  public/licenses.html
Labels: none

update third party license overview
  public/licenses.html
Labels: none

updated formatting for "lib/mod.rs" and "server/lib/mod.rs"
  .github/workflows/gh-pages.yml
  .github/workflows/licensing.yml
  README.md
  deny.toml
  licensing/about.hbs
  public/licenses.html
Labels: cargo-deny, markdown, github

updated formatting for "lib/mod.rs" and "server/lib/mod.rs" (#5)
  .github/workflows/gh-pages.yml
  .github/workflows/licensing.yml
  README.md
  deny.toml
  licensing/about.hbs
  public/licenses.html
Labels: cargo-deny, markdown, github

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

revert copyleft option for "cargo-deny"
  deny.toml
Labels: cargo-deny

added doctype for license overview template
  licensing/about.hbs
Labels: none

.github/labeler.yml:

asset:
  - any: [ 'src/**/*.png', 'src/**/*.ico', 'src/**/*.txt', 'src/**/*.jpg' ]

rust:
  - any: [ 'src/**/*.rs' ]

html:
  - any: [ 'src/**/*.html' ]

css:
  - any: [ 'src/**/*.css' ]

cargo:
  - any: [ '**/Cargo.toml', '**/Cargo.lock' ]

cargo-deny:
  - any: [ '**/deny.toml' ]

license:
  - any: [ 'LICENSE' ]

markdown:
  - any: [ '**/*.md' ]

git:
  - any: [ '**/*.gitignore', '**/*.gitattributes' ]

github:
  - any: [ '.github/**/*' ]
