Repository friedemannsommer/searproxy, changes with the labels that .github/labeler.yml gives for each.
All labels: asset, rust, html, css, cargo, cargo-deny, license, markdown, git, github

update third party license overview
  docs/licenses.html
Labels: none

bump version to `0.2.0`
  Cargo.toml
Labels: none

bump version to `0.2.0`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

added `build.rs` file to prebuild css files
  Cargo.toml
  build.rs
Labels: none

added prebuild style hashes to CSP `style-src` updated main template to use inline style updated HTML rewriter to use inline style
  src/assets/mod.rs
  src/lib/rewrite_html.rs
  src/server/lib/content_security_policy.rs
  src/server/mod.rs
  src/templates/base.rs
Labels: rust

updated styles for main template
  src/assets/main.css
Labels: css

update third party license overview
  docs/licenses.html
Labels: none

updated license template
  licensing/about.hbs
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

bump version to `0.2.1`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

upgrade "clap" to `3.1.6`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

upgrade "reqwest" to `0.11.10`
  Cargo.toml
Labels: none

bump version to `0.2.2`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

updated "log" crate
  Cargo.toml
Labels: none

added 32bit variants to release builds added windows release builds
  .github/workflows/ci.yml
Labels: github

update third party license overview
  docs/licenses.html
Labels: none

bump version to `0.2.3`
  Cargo.toml
Labels: none

bump version to `0.2.3`
  Cargo.toml
Labels: none

removed windows release builds (todo: figure out why mingw linker can't be located)
  .github/workflows/ci.yml
Labels: github

bump version to `0.2.4`
  Cargo.toml
Labels: none

disable "sha-asm" for arm (32bit)
  Cargo.toml
Labels: none

bump version to `0.2.5`
  Cargo.toml
Labels: none

feature gated unix only functionality (UDS) to allow windows builds
  .github/workflows/ci.yml
  src/main.rs
  src/model/config.rs
  src/server/mod.rs
Labels: rust, github

bump version to `0.2.6`
  Cargo.toml
Labels: none

updated CI workflow to allow windows binaries
  .github/workflows/ci.yml
Labels: github

bump version to `0.2.7`
  Cargo.toml
Labels: none

updated README to include links to "SearX" and "SearXNG"
  README.md
Labels: markdown

updated CI workflow to use `$target` in check for windows naming
  .github/workflows/ci.yml
Labels: github

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

.github/labeler.yml:

asset:
  - any: [ 'src/**/*.png', 'src/**/*.ico', 'src/**/*.txt', 'src/**/*.jpg' ]

rust:
  - any: [ 'src/**/*.rs' ]

html:
  - any: [ 'src/**/*.html' ]

css:
  - any: [ 'src/**/*.css' ]

cargo:
  - any: [ '**/Cargo.toml', '**/Cargo.lock' ]

cargo-deny:
  - any: [ '**/deny.toml' ]

license:
  - any: [ 'LICENSE' ]

markdown:
  - any: [ '**/*.md' ]

git:
  - any: [ '**/*.gitignore', '**/*.gitattributes' ]

github:
  - any: [ '.github/**/*' ]
