Repository friedemannsommer/searproxy, changes with the labels that .github/labeler.yml gives for each.
All labels: asset, rust, html, css, cargo, cargo-deny, license, markdown, git, github

.github/labeler.yml:

asset:
  - any: [ 'src/**/*.png', 'src/**/*.ico', 'src/**/*.txt', 'src/**/*.jpg' ]

rust:
  - any: [ 'src/**/*.rs' ]

html:
  - any: [ 'src/**/*.html' ]

css:
  - any: [ 'src/**/*.css' ]

cargo:
  - any: [ '**/Cargo.toml', '**/Cargo.lock' ]

cargo-deny:
  - any: [ '**/deny.toml' ]

license:
  - any: [ 'LICENSE' ]

markdown:
  - any: [ '**/*.md' ]

git:
  - any: [ '**/*.gitignore', '**/*.gitattributes' ]

github:
  - any: [ '.github/**/*' ]

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

restricted permissions for "cargo-deny" workflow
  .github/workflows/cargo-deny.yml
Labels: github

updated dependabot config to be more explicit about scheduling and who should handle these PRs
  .github/dependabot.yml
Labels: github

updated "cargo-deny" workflow formatting
  .github/workflows/cargo-deny.yml
Labels: github

bump package version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

updated "parcel_css" package
  Cargo.toml
  build.rs
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

updated third party license overview
  docs/licenses.html
Labels: none

bump package version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

updated dependencies
  Cargo.toml
Labels: none

bump crate version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

remove "maximum-scale" from viewport
  src/templates/base.rs
Labels: rust

bump crate version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

updated dependencies fixed error related to dependency ("parcel_css") upgrade applied clippy recommendations
  .github/workflows/ci.yml
  Cargo.toml
  build.rs
  src/lib/rewrite_css.rs
  src/templates/error.rs
Labels: rust, github

update third party license overview
  docs/licenses.html
Labels: none

bump crate version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

added rewrite rule for `<noscript>` elements this will remove the `<noscript>` element but will all it's children, which will be rewritten like any other HTML element
  src/lib/rewrite_html.rs
Labels: rust

bump crate version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

added spacing between text and status code
  src/templates/redirect.rs
Labels: rust

updated README option & env option sort
  README.md
Labels: markdown

use internal names for querystring generation use "mortyurl" as alias for "url" and "mortyhash" as alias for "hash"
  src/lib/rewrite_css.rs
  src/lib/rewrite_html.rs
  src/lib/rewrite_url.rs
  src/model/index_http_query.rs
Labels: rust

bump crate version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

added separate clippy step for "CodeQL"
  .github/workflows/ci.yml
  .github/workflows/licensing.yml
Labels: github
