Repository friedemannsommer/searproxy, changes with the labels that .github/labeler.yml gives for each.
All labels: asset, rust, html, css, cargo, cargo-deny, license, markdown, git, github

update third party license overview
  docs/licenses.html
Labels: none

updated "github/codeql-action/upload-sarif" from v1 to v2
  .github/workflows/ci.yml
Labels: github

bump crate version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update "clap", "markup", and "serde"
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

bump crate version
  Cargo.toml
Labels: none

bump crate version
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

updated lint rules
  src/lib/rewrite_html.rs
  src/lib/shared.rs
  src/main.rs
  src/templates/base.rs
  src/templates/mod.rs
Labels: rust

sadly allow "clippy::multiple_crate_versions"
  src/main.rs
Labels: rust

updated licensing workflow to automatically deploy to GitHub Pages
  .github/workflows/licensing.yml
Labels: github

Deploying to gh-pages from @ friedemannsommer/searproxy@d7502f157b79944db0387bb0cbd461c1343e553a 🚀
  licenses.html
Labels: none

removed "licenses.html" (automatically generated)
  docs/licenses.html
Labels: none

Deploying to gh-pages from @ friedemannsommer/searproxy@5ed601a8c37e5bc36ed3a67b47fb231de97b5431 🚀
  licenses.html
Labels: none

Deploying to gh-pages from @ friedemannsommer/searproxy@4477d58b6a7fbd6212cc713619d610ab0b429e4a 🚀
  licenses.html
Labels: none

Deploying to gh-pages from @ friedemannsommer/searproxy@9ea6ea5368258a1078487381c466c8a4bd75a886 🚀
  licenses.html
Labels: none

Deploying to gh-pages from @ friedemannsommer/searproxy@1595113c9455759c48ba779cfb032100480cfbe3 🚀
  licenses.html
Labels: none

Deploying to gh-pages from @ friedemannsommer/searproxy@fb2062def5db527900876447c95b4a62b4415320 🚀
  licenses.html
Labels: none

Deploying to gh-pages from @ friedemannsommer/searproxy@f36fa5eee0bb6fb93649d2324dc7cf1b5b97aa30 🚀
  licenses.html
Labels: none

updated "parcel_css" from "1.0.0-alpha.28" to "1.0.0-alpha.29"
  Cargo.toml
  build.rs
Labels: none

Deploying to gh-pages from @ friedemannsommer/searproxy@3334cea5a2a12b35236f243826af7c8d2ee056ec 🚀
  licenses.html
Labels: none

bump crate version
  Cargo.toml
Labels: none

updated cargo "about" licensing config
  licensing/about.toml
Labels: none

Deploying to gh-pages from @ friedemannsommer/searproxy@96b2c141cad334e79c34b063307fb9c602c9b13f 🚀
  licenses.html
Labels: none

increased spacing for h1, h2, and h3 specifically set h1 "line-height" override h2, h3 "margin", "font-size", and "line-height"
  src/assets/main.css
Labels: css

removed unnecessary "WARNING" statement on landing page (direct URL opening)
  src/templates/index.rs
Labels: rust

added font-size override for "h1" added "text-decoration: underline" for "h1 > a" replaced "float" with "display: flex" replaced "font-size: (n)px" with "font-size: (n)rem"
  src/assets/header.css
Labels: css

removed "-ms" prefixed rules
  src/assets/main.css
Labels: css

added "," as allowed char to `IMG_SRCSET_REGEX` to allow "data:image/gif;base64,"
  src/lib/rewrite_html.rs
Labels: rust

changed wording this should make clear that some web page features may not work and the content is not owned by the service (SearProxy)
  src/templates/header.rs
Labels: rust

added "Cargo.lock" to allow reproducible builds updated dependencies
  .gitignore
  Cargo.lock
  Cargo.toml
Labels: none

updated `rewrite_body_n_1` test to accept the updated header wording
  src/lib/rewrite_html.rs
Labels: rust

.github/labeler.yml:

asset:
  - any: [ 'src/**/*.png', 'src/**/*.ico', 'src/**/*.txt', 'src/**/*.jpg' ]

rust:
  - any: [ 'src/**/*.rs' ]

html:
  - any: [ 'src/**/*.html' ]

css:
  - any: [ 'src/**/*.css' ]

cargo:
  - any: [ '**/Cargo.toml', '**/Cargo.lock' ]

cargo-deny:
  - any: [ '**/deny.toml' ]

license:
  - any: [ 'LICENSE' ]

markdown:
  - any: [ '**/*.md' ]

git:
  - any: [ '**/*.gitignore', '**/*.gitattributes' ]

github:
  - any: [ '.github/**/*' ]
