Repository friedemannsommer/searproxy, changes with the labels that .github/labeler.yml gives for each.
All labels: asset, rust, html, css, cargo, cargo-deny, license, markdown, git, github

.github/labeler.yml:

asset:
  - any: [ 'src/**/*.png', 'src/**/*.ico', 'src/**/*.txt', 'src/**/*.jpg' ]

rust:
  - any: [ 'src/**/*.rs' ]

html:
  - any: [ 'src/**/*.html' ]

css:
  - any: [ 'src/**/*.css' ]

cargo:
  - any: [ '**/Cargo.toml', '**/Cargo.lock' ]

cargo-deny:
  - any: [ '**/deny.toml' ]

license:
  - any: [ 'LICENSE' ]

markdown:
  - any: [ '**/*.md' ]

git:
  - any: [ '**/*.gitignore', '**/*.gitattributes' ]

github:
  - any: [ '.github/**/*' ]

updated licensing workflow to also run when template or settings have been changed
  .github/workflows/licensing.yml
Labels: github

added license references to README and CLI
  Cargo.toml
  README.md
  src/main.rs
  src/model/cli.rs
Labels: rust, markdown

updated `HtmlRewrite` "rewrite_body_n_1" test
  src/lib/rewrite_html.rs
Labels: rust

added doctype for license overview template
  licensing/about.hbs
Labels: none

updated licensing workflow to also run when template or settings have been changed
  .github/workflows/licensing.yml
Labels: github

updated `HtmlRewrite` "rewrite_body_n_1" test
  src/lib/rewrite_html.rs
Labels: rust

added license references to README and CLI
  Cargo.toml
  README.md
  src/main.rs
  src/model/cli.rs
Labels: rust, markdown

revert copyleft option for "cargo-deny"
  deny.toml
Labels: cargo-deny

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

bump version to `0.1.1`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

formatting
  src/templates/error.rs
  src/templates/index.rs
Labels: rust

removed unnecessary CSS class (this class is unnecessary since the header will always be the first child within the body element, and `:first-child` can be used to select the header instead)
  src/assets/header.css
  src/templates/header.rs
Labels: rust, css

added "workaround" to prevent form submissions added tests for HTML `<style>` element
  src/lib/rewrite_html.rs
Labels: rust

use `actix_web::get` (macro) for path declaration renamed `handle_request` to `handle_get_request`
  src/server/mod.rs
  src/server/routes/mod.rs
  src/server/routes/route_index.rs
Labels: rust

use separate cache keys for "Test", "Check", "Rustfmt", and "Clippy"
  .github/workflows/ci.yml
Labels: github

bump version to `0.1.2`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

updated `rewrite_url` implementation to handle URL fragments
  src/lib/rewrite_url.rs
Labels: rust

bump version to `0.1.3`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

use "trust-dns-resolver" for "reqwest" to reduce system calls
  Cargo.toml
  src/main.rs
Labels: rust

update third party license overview
  docs/licenses.html
Labels: none

added support for `<form>` POST/GET actions added `<meta>` and `<link>` filter
  src/lib/client.rs
  src/lib/mod.rs
  src/lib/rewrite_html.rs
  src/lib/rewrite_url.rs
  src/server/lib/error_response.rs
  src/server/lib/fetch_url.rs
  src/server/lib/mod.rs
  src/server/lib/request_language.rs
  src/server/mod.rs
  src/server/routes/index.rs
  src/server/routes/mod.rs
  src/server/routes/route_index.rs
Labels: rust

added tests for `<meta>` and `<link>` transform
  src/lib/rewrite_html.rs
Labels: rust

added tests for `<form>`
  src/lib/rewrite_html.rs
Labels: rust

renamed `PostRequest` to `FormRequest` removed obsolete `mime` field from `FormRequest`
  src/lib/client.rs
  src/lib/mod.rs
  src/server/lib/fetch_url.rs
  src/server/routes/index.rs
Labels: rust

removed unused import in `routes/index.rs`
  src/server/routes/index.rs
Labels: rust

bump version to `0.1.4`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

added support for HTML entity encoding added "htmlentity" crate to decode HTML entities updated "clap" crate (`3.1.0` => `3.1.2`) updated cargo config to pin crate versions
  Cargo.toml
  src/lib/rewrite_html.rs
  src/lib/rewrite_url.rs
  src/main.rs
  src/model/index_http_query.rs
  src/model/mod.rs
Labels: rust

use `std::borrow::Cow` as result value in `rewrite_url`
  src/lib/rewrite_css.rs
  src/lib/rewrite_html.rs
  src/lib/rewrite_url.rs
Labels: rust

update third party license overview
  docs/licenses.html
Labels: none

bump version to `0.1.5`
  Cargo.toml
Labels: none

update third party license overview
  docs/licenses.html
Labels: none

added `lazy_images` flag added `worker_count` option renamed `follow_redirect` to `follow_redirects`
  Cargo.toml
  README.md
  src/lib/client.rs
  src/lib/rewrite_html.rs
  src/lib/rewrite_url.rs
  src/lib/shared.rs
  src/main.rs
  src/model/cli.rs
  src/model/config.rs
  src/server/mod.rs
  src/server/routes/index.rs
Labels: rust, markdown

enable logging middleware only if log level is greater than `Info`
  src/server/mod.rs
Labels: rust

added "subtle" crate license as acceptable
  licensing/about.toml
Labels: none
